body {
  color: #626262;
  font-family: 'Playfair+Display';
  font-size: 14px;
}
.link {
  color: #626262;
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: #03a9f4;
}
p {
  line-height: 24px;
}
h2 {
  font-size: 30px;
}
.litetext {
  font-family: 'Ubuntu';
  font-weight: 300;
  color: rgb(180, 173, 158);
}
button {
  color: rgb(98, 98, 98);
  font-family: 'Playfair+Display';
  font-size: 20px;
}
